<div id="mainRes">
    <div id="createNewTrips">
        <h2>{{formresponse.tripName}}</h2>
        <h2>{{formresponse.destination}} One Day Itinerary</h2>
        <div class="card">
            <div class="container">
                <p><b>8:00 am - 10:00 am</b></p>
                <p>{{formresponse.random1.name}}</p>
                <p> Rating :{{formresponse.random1.rating}}</p>
                <p>{{formresponse.random1.address}}</p>
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="container">
                <p><b>10:00 am - 12:00 am</b></p>
                <p>{{formresponse.random2.name}}</p>
                <p> Rating :{{formresponse.random2.rating}}</p>
                <p>{{formresponse.random2.address}}</p>
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="container">
                <p><b>12:00 am - 14:00 pm</b></p>
                <p>{{formresponse.restaurant1.name}}</p>
                <p> Rating :{{formresponse.restaurant1.rating}}</p>
                <p>{{formresponse.restaurant1.address}}</p>
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="container">
                <p><b>14:00 pm - 16:00 pm</b></p>
                <p>{{formresponse.random3.name}}</p>
                <p> Rating :{{formresponse.random3.rating}}</p>
                <p>{{formresponse.random3.address}}</p>
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="container">
                <p><b>16:00 pm - 18:00 pm</b></p>
                <p>{{formresponse.random4.name}}</p>
                <p> Rating :{{formresponse.random4.rating}}</p>
                <p>{{formresponse.random4.address}}</p>
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="container">
                <p><b>18:00 pm - 20:00 pm</b></p>
                <p>{{formresponse.restaurant2.name}}</p>
                <p> Rating :{{formresponse.restaurant2.rating}}</p>
                <p>{{formresponse.restaurant2.address}}</p>
            </div>
        </div>
        <br>
        <br>

    </div>
</div>