body{
    background-image: url("../images/background2.jpg");
    font-family: 'Raleway', sans-serif;
}

#mainForm{
/*    background-color: rgba(255, 255, 255, .3);*/
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    color: white;
}
#mainForm2{
/*    background-color: rgba(255, 255, 255, .3);*/
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    color: white;
}


#departure{
    width: 100%;
}

#destination{
    width: 100%;
}


#logo{
    background-image: url("../images/icon.png");
    width: 200px;
    height: 80px;
    margin-bottom: 10px;
}


#mainRes{
    background-color: white;
    width: 600px;
    margin: 0 auto;
    padding: 20px;

}

#createNewTrips{
    text-align: center;
}

#createNewTrips h3{
    text-transform: uppercase;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: #e7f9ff;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, .5);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=submit] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}